# /etc/systemd/system/booktyperedis.service
# Doku: https://coreos.com/docs/launching-containers/launching/getting-started-with-systemd/
# Don't forget "systemctl daemon-reload" after changes


[Unit]
Description=A docker container with postgresql for booktype
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill booktyperedis
ExecStartPre=-/usr/bin/docker rm booktyperedis
ExecStartPre=/usr/bin/docker pull redis
ExecStart=/usr/bin/docker run --name=booktyperedis \
    redis


[Install]
WantedBy=multi-user.target
