# /etc/systemd/system/xwikipostgres.service
# Doku: https://coreos.com/docs/launching-containers/launching/getting-started-with-systemd/
# Don't forget "systemctl daemon-reload" after changes


[Unit]
Description=A docker container with postgresql for booktype
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill booktypepostgres
ExecStartPre=-/usr/bin/docker rm booktypepostgres
ExecStartPre=/usr/bin/docker pull postgres
ExecStart=/usr/bin/docker run --name=booktypepostgres \
    -v {{ postgres.volume }}:/volume/postgres/data \
    -e POSTGRES_USER="{{ postgres.user }}" \
    -e POSTGRES_PASSWORD="{{ postgres.passwd }}" \
    postgres

[Install]
WantedBy=multi-user.target
